![alt text](./pageheader_rose2_babies.jpg)

# Data Science in Medicine using Python

### Author: Dr Gusztav Belteki

## 1. Let us see your homework

Try to guess what will these expressions return before pressing `SHIFT-Enter`

Some of these points were not discussed. You may need to look it up on the Internet.

In [4]:
10 * 10 / 10

10.0

In [5]:
10 + 10 / 10

11.0

In [6]:
15 // 2

7

In [7]:
15 % 2

1

In [11]:
1 or 2

1

In [8]:
1 and 2

2

In [9]:
0 and 2

0

In [10]:
0 or 2

2

In [15]:
0 or 1 and 0

0

In [16]:
'' or 'hello'

'hello'

In [17]:
' ' or hello

' '

Why are these different?

In [25]:
int(16.864295), round(16.864295)

(16, 17)

In [ ]:
What will be the output ?

In [33]:
B = 'Midway upon the journey of our life I found myself within a forest dark, For the straightforward pathway had been lost.'
B

'Midway upon the journey of our life I found myself within a forest dark, For the straightforward pathway had been lost.'

In [35]:
B.count('m')

1

In [37]:
B.lower().count('m')

2

In [34]:
B.split(' ')

['Midway',
 'upon',
 'the',
 'journey',
 'of',
 'our',
 'life',
 'I',
 'found',
 'myself',
 'within',
 'a',
 'forest',
 'dark,',
 'For',
 'the',
 'straightforward',
 'pathway',
 'had',
 'been',
 'lost.']

Finally: what the heck is this

In [30]:
dir(B)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## 2. Once more about functions

1. Built-in functions
2. Functions generated by you
3. Functions imported from modules

#### 1. Built-in functions

In [3]:
A = (5, -1, -15, 25, 2)
sorted(A)

[-15, -1, 2, 5, 25]

In [4]:
sorted((5, -1, -15, 25, 2))

[-15, -1, 2, 5, 25]

In [5]:
sorted(A, reverse= True)

[25, 5, 2, -1, -15]

In [7]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [7]:
sorted(A, key=abs)

[-1, 2, 5, -15, 25]

In [6]:
sorted?

In [8]:
print('Hello', 'Hello')

Hello Hello

In [11]:
print('Hello', 'Hello', sep='*****')

Hello*****Hello

In [8]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

#### 2. Your own functions

Please note that variable name format with _underscores_.

This is the first use of `indentation` during our journey

In [9]:
# defining the function

def my_first_function(a, b):
    return a + b

In [10]:
# calling the function

my_first_function(10, 5)

15

In [11]:
A = my_first_function(20, 100)

In [12]:
A

120

Function with default parameters

In [13]:
def my_second_function(a, b = 100):
    return a + b

In [14]:
my_second_function(5)

105

In [15]:
my_second_function(5, 20)

25

Not all functions have arguments

In [16]:
def my_third_function():
    return 10

In [17]:
my_third_function()

10

Functions can do something else rather than returning a value

In [18]:
def my_third_function(a):
    print(a)

In [20]:
my_third_function('Hello world')

Hello world

Let us see what happens if we assign the call to a variable

_This is difficult to understand - do not be put off by this_

In [22]:
A = my_third_function('Hello world')

Hello world

In [23]:
A

#### 3. Functions imported from modules

Modules need to be imported first

In [28]:
import pandas as pd

In [25]:
# Imported by not bound to a variable. We cannot use it later.

pd.read_csv('data/CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip')

,Time [ms],Date,Time,Rel.Time [s],5001|MVe [L/min],5001|MVi [L/min],5001|Cdyn [L/bar],5001|R [mbar/L/s],5001|MVespon [L/min],5001|Rpat [mbar/L/s],...,5001|TC [s],5001|TCe [s],5001|C20/Cdyn [no unit],5001|VTe [mL],5001|VTi [mL],5001|EIP [mbar],5001|MVleak [L/min],5001|Tispon [s],5001|I:Espon (I-Part) [no unit],5001|I:Espon (E-Part) [no unit]
0,1604324559904,2020-11-02,13:42:39.904,0,0.20,0.21,0.21,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1604324560029,2020-11-02,13:42:40.029,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.11,0.55,3.4,3.4,21.0,0.00,NaN,NaN,NaN
2,1604324560951,2020-11-02,13:42:40.951,1,0.20,0.21,0.22,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1604324561060,2020-11-02,13:42:41.060,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.21,0.55,8.2,3.6,22.0,0.00,NaN,NaN,NaN
4,1604324561935,2020-11-02,13:42:41.935,2,0.20,0.21,0.26,154.0,0.0,136.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689431,1604669233906,2020-11-06,13:27:13.906,344674,0.22,0.22,0.21,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689432,1604669234031,2020-11-06,13:27:14.031,344674,NaN,NaN,NaN,NaN,NaN,NaN,...,0.04,0.11,0.75,3.1,2.6,18.0,0.02,NaN,NaN,NaN
689433,1604669234906,2020-11-06,13:27:14.906,344675,0.22,0.22,0.21,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689434,1604669235046,2020-11-06,13:27:15.046,344675,NaN,NaN,NaN,NaN,NaN,NaN,...,0.01,0.15,0.75,4.1,2.6,19.0,0.01,NaN,NaN,NaN
689435,1604669235937,2020-11-06,13:27:15.937,344676,0.22,0.22,0.05,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
# Now it is there for later use

data = pd.read_csv('data/CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip')

In [46]:
data

,Time [ms],Date,Time,Rel.Time [s],5001|MVe [L/min],5001|MVi [L/min],5001|Cdyn [L/bar],5001|R [mbar/L/s],5001|MVespon [L/min],5001|Rpat [mbar/L/s],...,5001|TC [s],5001|TCe [s],5001|C20/Cdyn [no unit],5001|VTe [mL],5001|VTi [mL],5001|EIP [mbar],5001|MVleak [L/min],5001|Tispon [s],5001|I:Espon (I-Part) [no unit],5001|I:Espon (E-Part) [no unit]
0,1604324559904,2020-11-02,13:42:39.904,0,0.20,0.21,0.21,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1604324560029,2020-11-02,13:42:40.029,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.11,0.55,3.4,3.4,21.0,0.00,NaN,NaN,NaN
2,1604324560951,2020-11-02,13:42:40.951,1,0.20,0.21,0.22,146.0,0.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1604324561060,2020-11-02,13:42:41.060,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0.03,0.21,0.55,8.2,3.6,22.0,0.00,NaN,NaN,NaN
4,1604324561935,2020-11-02,13:42:41.935,2,0.20,0.21,0.26,154.0,0.0,136.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689431,1604669233906,2020-11-06,13:27:13.906,344674,0.22,0.22,0.21,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689432,1604669234031,2020-11-06,13:27:14.031,344674,NaN,NaN,NaN,NaN,NaN,NaN,...,0.04,0.11,0.75,3.1,2.6,18.0,0.02,NaN,NaN,NaN
689433,1604669234906,2020-11-06,13:27:14.906,344675,0.22,0.22,0.21,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689434,1604669235046,2020-11-06,13:27:15.046,344675,NaN,NaN,NaN,NaN,NaN,NaN,...,0.01,0.15,0.75,4.1,2.6,19.0,0.01,NaN,NaN,NaN
689435,1604669235937,2020-11-06,13:27:15.937,344676,0.22,0.22,0.05,164.0,0.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689436 entries, 0 to 689435
Data columns (total 47 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Time [ms]                        689436 non-null  int64
 1   Date                             689436 non-null  object
 2   Time                             689436 non-null  object
 3   Rel.Time [s]                     689436 non-null  int64
 4   5001|MVe [L/min]                 344633 non-null  float64
 5   5001|MVi [L/min]                 344633 non-null  float64
 6   5001|Cdyn [L/bar]                344073 non-null  float64
 7   5001|R [mbar/L/s]                342099 non-null  float64
 8   5001|MVespon [L/min]             344633 non-null  float64
 9   5001|Rpat [mbar/L/s]             341398 non-null  float64
 10  5001|MVemand [L/min]             344633 non-null  float64
 11  5001|FlowDev [L/min]             344677 non-null  float64
 12  5001|VTmand [mL]                 344567 non-null  float64
 13  5001|r2 [no unit]                344538 non-null  float64
 14  5001|VTispon [mL]                344634 non-null  float64
 15  5001|Pmin [mbar]                 344677 non-null  float64
 16  5001|Pmean [mbar]                344677 non-null  float64
 17  5001|PEEP [mbar]                 344677 non-null  float64
 18  5001|RRmand [1/min]              344677 non-null  float64
 19  5001|PIP [mbar]                  344677 non-null  float64
 20  5001|VTmand [L]                  344567 non-null  float64
 21  5001|VTspon [L]                  344634 non-null  float64
 22  5001|VTemand [mL]                344567 non-null  float64
 23  5001|VTespon [mL]                344634 non-null  float64
 24  5001|VTimand [mL]                344571 non-null  float64
 25  5001|VT [mL]                     344567 non-null  float64
 26  5001|% leak [%]                  344633 non-null  float64
 27  5001|RRspon [1/min]              256267 non-null  float64
 28  5001|% MVspon [%]                344633 non-null  float64
 29  5001|MV [L/min]                  344633 non-null  float64
 30  5001|RRtrig [1/min]              344633 non-null  float64
 31  5001|RR [1/min]                  344633 non-null  float64
 32  5001|I (I:E) [no unit]           344672 non-null  float64
 33  5001|E (I:E) [no unit]           344672 non-null  float64
 34  5001|FiO2 [%]                    344677 non-null  float64
 35  5001|VTspon [mL]                 344633 non-null  float64
 36  5001|E [mbar/L]                  340217 non-null  float64
 37  5001|TC [s]                      344051 non-null  float64
 38  5001|TCe [s]                     344566 non-null  float64
 39  5001|C20/Cdyn [no unit]          339993 non-null  float64
 40  5001|VTe [mL]                    344566 non-null  float64
 41  5001|VTi [mL]                    344570 non-null  float64
 42  5001|EIP [mbar]                  344676 non-null  float64
 43  5001|MVleak [L/min]              344632 non-null  float64
 44  5001|Tispon [s]                  10015 non-null   float64
 45  5001|I:Espon (I-Part) [no unit]  9071 non-null    float64
 46  5001|I:Espon (E-Part) [no unit]  9071 non-null    float64
dtypes: float64(43), int64(2), object(2)
memory usage: 247.2+ MB

In [29]:
pd.read_csv?

There is only one positional argument, all other arguments are keyword arguments with default value

Notice that lines can be broken inside parentheses.

In [37]:
data = pd.read_csv('data/CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip',
            usecols = ['Date', 'Time', 'Rel.Time [s]','5001|MVe [L/min]', '5001|VTmand [mL]'],
            index_col = ['Rel.Time [s]'])

data

                    Date          Time  5001|MVe [L/min]  5001|VTmand [mL]
Rel.Time [s]
0             2020-11-02  13:42:39.904              0.20               3.4
0             2020-11-02  13:42:40.029               NaN               NaN
1             2020-11-02  13:42:40.951              0.20               8.2
1             2020-11-02  13:42:41.060               NaN               NaN
2             2020-11-02  13:42:41.935              0.20               4.1
...                  ...           ...               ...               ...
344674        2020-11-06  13:27:13.906              0.22               3.1
344674        2020-11-06  13:27:14.031               NaN               NaN
344675        2020-11-06  13:27:14.906              0.22               4.2
344675        2020-11-06  13:27:15.046               NaN               NaN
344676        2020-11-06  13:27:15.937              0.22               0.9

[689436 rows x 4 columns]

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 689436 entries, 0 to 344676
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              689436 non-null  object
 1   Time              689436 non-null  object
 2   5001|MVe [L/min]  344633 non-null  float64
 3   5001|VTmand [mL]  344567 non-null  float64
dtypes: float64(2), object(2)
memory usage: 26.3+ MB

In [42]:
data = pd.read_csv('data/CsvLogBase_2020-11-02_134238.904_slow_Measurement.csv.zip',
            usecols = ['Date', 'Time', 'Rel.Time [s]','5001|MVe [L/min]', '5001|VTmand [mL]'],
            index_col = ['Rel.Time [s]'], parse_dates = [[0,1]])

data

                           Date_Time  5001|MVe [L/min]  5001|VTmand [mL]
Rel.Time [s]
0            2020-11-02 13:42:39.904              0.20               3.4
0            2020-11-02 13:42:40.029               NaN               NaN
1            2020-11-02 13:42:40.951              0.20               8.2
1            2020-11-02 13:42:41.060               NaN               NaN
2            2020-11-02 13:42:41.935              0.20               4.1
...                              ...               ...               ...
344674       2020-11-06 13:27:13.906              0.22               3.1
344674       2020-11-06 13:27:14.031               NaN               NaN
344675       2020-11-06 13:27:14.906              0.22               4.2
344675       2020-11-06 13:27:15.046               NaN               NaN
344676       2020-11-06 13:27:15.937              0.22               0.9

[689436 rows x 3 columns]

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 689436 entries, 0 to 344676
Data columns (total 3 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date_Time         689436 non-null  datetime64[ns]
 1   5001|MVe [L/min]  344633 non-null  float64
 2   5001|VTmand [mL]  344567 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 21.0 MB